body {
    background-color: var(--alpine-blue);
}

p {
    font-family: 'Oswald', sans-serif;
    /*font-weight: lighter;*/
}

.actuality-main-tile {
    color: var(--delta-green);
}

/*BOOTSTRAP CUSTOM*/

.jumbotron {
    background-image: url("src/images/panorama_marseille_vieux_port_pharo_mucem.jpg");
    height: 393px;
}