#gjparc {
    display: flex;
    align-items: center;
}

#gjparc p {
    margin: 2rem;
    text-align: center;
    font-size: 1.3rem;
}

.gjlogo {
    width: 10%;
}

#gjlogo {
    float: initial;    
}

#gjlogo2 {
    float: right;
    transform: scaleX(-1);
}

.gjarticle {
    justify-content: space-around;
    flex-wrap: wrap;
    line-height: 1.8em;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 2rem 0 1rem 0;
}

.gjarticled {
    justify-content: space-around;
    flex-wrap: wrap;
    line-height: 1.8em;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 2rem 0 1rem 0;
    background-color: rgb(169, 169, 169, 0.3);
}

.gjarticled h2, .gjarticle h2 {
    text-align: left;
}

.gjinvers {
    flex-direction: row-reverse;
}

.gjalign {
    width: 40%;
}

.gjimgparc {
    width: 30%;
}