.bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.bg-filter {
  transition: all 1s ease-in-out;
  flex: 1;
}

.bg-filter:hover {
  filter: grayscale();
  flex: 6;
}

.bg-museum-mucem {
  background-image: url("../images/museum_mucem.jpg");
}

.bg-museum-borely {
  background-image: url("../images/museum_borely.jpg");
}

.bg-museum-longchamp {
  background-image: url("../images/museum_longchamp.jpg");
}

.bg-museum-regards-provence {
  background-image: url("../images/museum_regards_provence.jpg");
}

.bg-museum-vieille-charite {
  background-image: url("../images/museum_vieille_charite.jpg");
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--light);
  position: absolute;
  font-size: 8rem;
  /* opacity: 0; */
}

.bg-filter:hover h1 {}

/* @keyframes fadein {
  0% {
    opacity: 0%
  }

  100% {
    opacity: 100%
  }
}

@keyframes fadeout {
  from {
    opacity: 100%
  }

  to {
    opacity: 0%
  }
} */
