.marseille-logo {
    height : 8vh;
}

.navbar.navbar-expand-lg.navbar-light.bg-light, .dropdown-item {
    font-size : 1.5rem;
}

/*BOOTSTRAP CUSTOM*/
.navbar-brand {
    margin : 0;
}

header {
  font-family: 'Major Mono Display', sans-serif;
}